.single-note-saved {
  background-color: var(--background-color);
  box-shadow: #0000003d 0px 3px 8px;
  border-radius: 5px;

  height: 20rem;
  /* height: 20vh; */
  width: 45rem;

  position: relative;
}
.hover-action-btn:hover {
  background-color: var(--desktop-searchbar-bg);
  background-color: #dee2e6;
  background-color: #e9ecef;
  background-color: #f4f4f4;
  background-color: #cccccc;

  /* padding: 5px; */
  /* background-color: var(--form-input-border-color); */
  /* background-color: violet; */
  border-radius: 50%;
  /* height: 5rem;
  width: 5rem; */
  /* font-size: 2.5rem; */
  /* padding: 3px 3px; */
}

.note-pinned {
  position: absolute;
  top: 10px;
  right: 10px;
}

.note-title {
  /* font-size: ; */
  font-weight: 600;
}
.note-body {
  height: 12rem;
}
.note-secondary-info {
  display: flex;
  justify-content: space-between;
}
.note-action-btn {
  display: flex;
  justify-content: center;
}
/* .note-label {
  background-color: pink;
  border-bottom-left-radius: 5px;
} */

.note-pinned,
.edit-btn,
.archive-btn,
.delete-btn {
  margin: 0 10px;
  background-color: var(--background-color);

  border: none;
  cursor: pointer;
  /* padding: 2px; */
  height: 3rem;
  width: 3rem;
  /* padding: 10px; */
  aspect-ratio: 1;
}

.pin-action,
.edit-action,
.archive-action,
.delete-action {
  font-size: 2.5rem;
  padding: 1px;
}
